.interest-rate-result-wrapper {
    display: flex;
    flex-direction: column;

    .display-result {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

//desktop
@media only screen and (min-width: 992px) {
    .interest-rate-result-wrapper {
        .display-result {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
}